.slider__description {
    background-image: url("../../../images/commas.svg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 40px 0 46px 40px;
    
    width: 512px;

}
.slider__description p {
    width: 393px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}