.slider__description {
    background-image: url("../../../images/commas.svg");
    background-repeat: no-repeat;
    background-position: -5px -10px;
    margin: 0;
    padding: 110px 0 46px 119px;
    width: 393px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}