.slider__button_prev {
    background-image: url("../../../images/leftArrow.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 100px;
    background-position: center;
    grid-column: 1;
    grid-row: 1;

}

.slider__button_prev:hover {
    background-image: url("../../../images/leftArrowActive.svg");
}