.slider__heading {
    margin: 0;
    padding: 10px 22px 16px;
    background: radial-gradient(ellipse at top left, rgba(40, 48, 54, .8), transparent),
    radial-gradient(ellipse at bottom right, rgba(0, 122, 204, 0.2), transparent);
    backdrop-filter: blur(100%);
    border-radius: 20px;
    width: 265px;
    position: absolute;
    bottom: 120px;
    right: 30px;
    width: auto;
}
.slider__heading h3, p {
    margin: 0;
}

/* #2830364d, #007acc66 */
/*  */