.card__like {
    background-image: url("../../../images/like.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
}

.card__like-active {
    box-sizing: border-box;
    background-image: url("../../../images/activeLike.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 42px;
    height: 42px;
    margin: 0;
    padding: 0;
}