.card {
    width: 392px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    transition: all .2s ease-in;
}

.card:hover {
    transform: translateY(-20px);
    background: radial-gradient(ellipse at bottom left, rgba(40, 48, 54, 1), transparent),
    radial-gradient(ellipse at top right, rgba(255, 110, 48, 0.1), transparent);
}